.container {
  padding: 8px;
  width: 240px;
  border: 1px solid #000;
}

.item {
  width: 100%;
  height: 30px;
  background: yellowgreen;
  margin-bottom: 8px;
  cursor: pointer;
}

.img {
  width: 20px;
}
